PORT = 3333

# SMTP
SMTP_HOST = 'smtp.gmail.com'
SMTP_PORT = 465
SMTP_USER = 'test@gmail.com'
SMTP_PASS = 'test'
SMTP_FROM = '"TEST <test@gmail.com>'
SMTP_SECURE = true
SMTP_SERVICE = 'gmail'

# JWT 
JWT_SECRET = 'secret'
TOKEN_EXPIRATION_HOURS = 8

# Lista de orígenes permitidos `CORS`
CORS_ORIGIN = 'http://localhost:4200 http://localhost http://localhost:8100 capacitor://localhost' 

# Indica si los cookies deben ser enviados solo desde orígenes seguros. Es útil para
# el desarrollo en localhost, donde debe ser false para enviar cookies a orígenes
# `http`. En producción debe ser true, para enviar los cookies solo a través de `https`.
SECURE_COOKIE = false

# This was inserted by `prisma init`:
DATABASE_URL = "mysql://root:@localhost:3306/test"